h1{
  text-align: center;
}

#battlefield {
  width: 450px;
  height: 450px;
  background-color: lightseagreen;
  display: flex;
  flex-wrap: wrap;
}

.wrapper{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.field{
width: 150px;
height: 150px;
border: 2px solid darkcyan;
box-sizing: border-box;
color: dimgray;
font-size: 140px;
display: flex;
justify-content: center;
align-items: center;
te
}

.field:hover {
  background-color: rgb(77, 192, 154);
}